body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Set your desired background color */
  }
  
  .container {
    text-align: center;
    padding: 100px 0;
  }
  
  .banner {
    margin-bottom: 30px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    display: inline-block;
    padding: 12px 28px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 30px;
    border: none;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .login-btn {
    background-color: #007bff;
  }
  
  .signup-btn {
    background-color: #dc3545;
  }
  